<extend name="Public:base" />
<block name="title">
    <title>OpenBlog</title>    
</block>

<block name="menu">
    <include file="Public:member.menu" />
</block>

<block name="content">
    <div class="row">
        <div class="col-md-2">
            <div class="home-left-menu-wrapper">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{:U('Set/index')}">我的信息</a></li>
                    <li><a href="{:U('Set/logo')}">头像</a></li>
                </ul>
        </div>

        </div>
        <div class="col-md-8"> 
            <div class="setting-box-wrapper">
                <div class="setting-box-wrapper-header">
                    我的头像
                </div>
                <div class="setting-box-wrapper-body">
                    <form action="{:U('Image/upload')}" enctype="multipart/form-data" method="post" >
                        <input type="file" name="photo" />
                        <input type="submit" value="提交" >
                    </form>
                </div>                
            </div>
        </div> <!-- end of <div class="col-md-7"> -->
        
        <div class="col-md-2">
        </div>
    </div>
</block>
