<extend name="Public:base" />
<block name="title">
    <title>OpenBlog</title>    
</block>

<block name="menu">
    <include file="Public:member.menu" />
</block>

<block name="content">
    <div class="member-context-wrapper row">
        <div class="col-md-2">
            <include file="Member:leftmenu" />
        </div>
        <div class="col-md-7">       
            <include file="Tweets:tweet.editor"/>
            
            <for start="1" end="10" step="1" name="counter" >
                <div class="tweet-boxing">
                    <div class="row tweet-boxing-heading">
                        <a href="">Username</a>
                    </div>
                    <div class="row">
                        2016-7-30 15:00
                    </div>
                    <div class="row">
                        每个周末，我们都会精心挑选一周内最震撼人心的太空图像，以飨读者。本周，X射线下的星系团闪烁着魅蓝色的光芒；远在土星附近的卡西尼号眺望遥远的母星地球；卫星拍摄到了里海海床上奇特的图案；詹姆斯·韦伯太空望远镜显露出了“土豪金”的真容。更多精彩，敬请欣赏。 
                    </div>
                    <hr class="tweet-boxing-line" />
                    <div class="row">
                        <div class="btn-group pull-right" role="group" aria-label="帖子操作">
                            <a href="" class="btn btn-info">转发</a>
                            <a href="" class="btn btn-warning">收藏</a>
                        </div>
                    </div>
                </div>
            </for>
        </div> <!-- end of <div class="col-md-7"> -->
        
        <div class="col-md-3">
            <include file="Member:rightmenu" />
        </div>
    </div>
</block>
