<div class="userinfo">
    <div class="row text-center tweet-boxing-heading">
        {$Think.session.user.name}
    </div>
                
    <div class="row">
        <div class="col-md-4 text-center"><span class="glyphicon glyphicon-comment"></span></div>
        <div class="col-md-4 text-center"><span class="glyphicon glyphicon-eye-open"></span></div>
        <div class="col-md-4 text-center"><span class="glyphicon glyphicon-user"></span></div>
    </div>
    
    <div class="row">
        <div class="col-md-4 text-center">5</div>
        <div class="col-md-4 text-center">15</div>
        <div class="col-md-4 text-center">5</div>
    </div>
</div>
