<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <block name="title">
            <title>OpenBlog</title>    
        </block>
        
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/css/open-blog.css">
    </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navgation">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ob-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{:U('Home/index')}">OpenBlog</a>
                        </div>
                        <div class="collapse navbar-collapse" id="ob-navbar-collapse-1">
                            <block name="menu">menu</block>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <include file="Article:article.editor" />
                        
        <div class="ob-wrapper"> 
            <div class="container">           
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="ob-content-wrapper">
                            <block name="content">内容</block>
                        </div>
                        
                        <hr class="ob-divider"/>
                        
                        <div class="ob-footer-wrapper">
                            <p class="pull-right">
                                <a href="#">
                                    <span class="glyphicon glyphicon-menu-up"></span>
                                </a>
                            </p>
                            <p>&copy; 2016 鸟语花香股份有限公司. &middot; 
                                <a href="#">免责条款</a> &middot; 
                                <a href="#">联系我们</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of ob-wrapper -->

        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/open-blog.js"></script>
    </body>
</html>