<ul class="nav navbar-nav">
    <li><a href="{:U('Member/index')}">首页</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>
        <button type="button" class="btn btn-default navbar-btn pull-left" data-toggle="modal" data-target="#tweet-editor-modal">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
    </li>    
    <li>
        <volist name="Think.session.user" id="vo">
            <eq name="key" value="name">
                <a href="{:U('User/index', array('username'=>$vo))}">
                    <span class="glyphicon glyphicon-user"></span>
                        {$Think.session.user.name}
                </a>
            </eq>
        </volist>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="">账号设置</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{:U('User/logout')}">退出</a></li>
        </ul>
    </li>
</ul>