<extend name="Public:base" />
<block name="title">
    <title>用户首页</title>    
</block>

<block name="menu">
    <include file="Public:member.menu" />
</block>

<block name="content">
    <div class="row">
        <div class="col-md-2">
			<div class="home-left-menu-wrapper">
			    <div class="userinfo-boxing">
			        <div class="userinfo-boxing-header">
			            {$userinfo.name}
			        </div>
			        <div class="userinfo-boxing-content">
			            <div class="row">
			                <div class="col-md-4 text-center"><span class="glyphicon glyphicon-comment"></span></div>
			                <div class="col-md-4 text-center"><span class="glyphicon glyphicon-eye-open"></span></div>
			                <div class="col-md-4 text-center"><span class="glyphicon glyphicon-user"></span></div>
			            </div>
			    
			            <div class="row">
			                <div class="col-md-4 text-center">5</div>
			                <div class="col-md-4 text-center">15</div>
			                <div class="col-md-4 text-center">5</div>
			            </div>
                        
                        <div class="row text-center">
                            <button class="btn btn-primary">关注TA</button>
                        </div>
			        </div>
			    </div>                
			</div>
        </div>
        
        <div class="col-md-8">  
            <volist name="articles" id="vo">
                <div class="article-boxing">
                    <div class="article-boxing-heading">
                        <a href="{:U('User/index', array('username'=>$userinfo['name']))}">
                            {$userinfo.name}
                        </a> <br />
                        <small> {$vo.post_time}</small>
                    </div>
                    <div class="article-boxing-content">
                        <p>
                            {$vo.content} 
                        </p> 
                    </div>
                    <div class="article-boxing-footer">
                            <div class="btn-group" role="group" aria-label="帖子操作">
                                <a href="" class="btn btn-info">转发</a>
                                <a href="" class="btn btn-warning">收藏</a>
                            </div>
                    </div>
                </div>
            </volist>
            
            <div class="user-article-page">
                {$page}
            </div>
        </div> <!-- end of <div class="col-md-7"> -->
        <div class="col-md-2">
        </div>
    </div>
</block>
