<extend name="Public:base" />
<block name="title">
    <title>注册用户</title>    
</block>

<block name="menu">
    <include file="Public:visitor.menu" />
</block>

<block name="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="ob-content-boxing">
                <div class="ob-content-boxing-header">
                    注册用户
                </div>
                
                <if condition="isset($message)">
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <em>{$message}</em>
                    </div>
                </if>
                
                <div class="ob-content-boxing-content">
                    <form class="form-horizontal" action="{:U('User/reg')}" method="post">
                        <div id="reg_username_group" class="form-group">
                            <label for="reg_username" class="col-md-4 control-label">用户名</label>
                            <div class="col-md-6">
                                <input id="reg_username" name="user_name" type="text" class="form-control" placeholder="用户名" 
                                    data-trigger="manual" data-placement="right" data-container="body"
                                    data-toggle="popover" data-content="" 
                                    url="{:U('User/check')}">
                            </div>
                        </div>
                        <div id="reg_email_group" class="form-group">
                            <label for="reg_email" class="col-md-4 control-label">邮箱</label>
                            <div class="col-md-6">
                                <input id="reg_email" name="user_email" type="text" class="form-control" placeholder="邮箱" 
                                    data-trigger="manual" data-placement="right" data-container="body"
                                    data-toggle="popover" data-content="" 
                                    url="{:U('User/check')}">
                            </div>
                        </div>
                        <div id="reg_passwd_group" class="form-group">
                            <label for="reg_passwd" class="col-md-4 control-label">密码</label>
                            <div class="col-md-6">
                                <input id="reg_passwd" name="user_passwd" type="password" class="form-control" placeholder="不少于6位" 
                                data-trigger="manual" data-placement="right" data-container="body"
                                data-toggle="popover" data-content="">
                            </div>
                        </div>
                        <div id="reg_passwd1_group" class="form-group">
                            <label for="reg_passwd1" class="col-md-4 control-label">确认密码</label>
                            <div class="col-md-6">
                                <input id="reg_passwd1" name="user_passwd1" type="password" class="form-control" placeholder="再输入一次"
                                data-trigger="manual" data-placement="right" data-container="body"
                                data-toggle="popover" data-content="">
                            </div>
                        </div>   
                        <div id="reg_verify_group" class="form-group">
                            <label for="reg_verify" class="col-md-4 control-label">验证码</label>
                            <div class="col-md-3">
                                <img id="img_reg_verify" width="100%" alt="验证码" src="{:U('User/verifycode')}" title="点击刷新"> 
                            </div>
                            <div class="col-md-3">
                                <input id="reg_verify" name="user_code" type="text" class="form-control" placeholder="验证码" 
                                    data-trigger="manual" data-placement="right" data-container="body"
                                    data-toggle="popover" data-content="" 
                                    url="{:U('User/check')}">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="btn_reg_submit" class="col-md-4 control-label sr-only">提交</label>
                            <div class="col-md-6">
                                <button id="btn_reg_submit" type="submit" class="btn btn-primary btn-block">提交</button>
                            </div>
                        </div>             
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
