<extend name="Public:base" />
<block name="title">
    <title>OpenBlog</title>    
</block>

<block name="menu">
    <include file="Public:visitor.menu" />
</block>

<block name="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="sigin-box-warpper-heading">
                <h2>注册用户</h2>
            </div>
            <form id="reg-user-form" action="{:U('User/add')}" method="post" class="sigin-box-warpper form-horizontal">
                <if condition="isset($message)">
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {$message}
                    </div>
                </if>
                
                <div id="reg-name-group" class="form-group">
                    <label for="regUsername" class="control-label col-md-3">用户名</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="regUsername" name="username" placeholder="用户名" autofocus>
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-ok sr-only"></span>
                        <span class="glyphicon glyphicon-remove sr-only"></span>
                    </div>
                </div>                
                <div id="reg-email-group" class="form-group">
                    <label for="regEmail" class="control-label col-md-3">邮箱</label>
                    <div class="col-md-7">
                        <input type="email" class="form-control" id="regEmail" name="email" placeholder="邮箱">
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-ok sr-only"></span>
                        <span class="glyphicon glyphicon-remove sr-only"></span>
                    </div>
                </div>
                <div id="reg-pwd1-group" class="form-group">
                    <label for="regPasswd1" class="control-label col-md-3">密码</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="regPasswd1" name="passwd" placeholder="至少6位的数字和字母组合">
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-ok sr-only"></span>
                        <span class="glyphicon glyphicon-remove sr-only"></span>
                    </div>
                </div>
                <div id="reg-pwd2-group" class="form-group">
                    <label for="regPasswd2" class="control-label col-md-3">确认密码</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control col-md-10" id="regPasswd2" placeholder="再输入一次密码">
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-ok sr-only"></span>
                        <span class="glyphicon glyphicon-remove sr-only"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-7">
                        <button id="reg-user-button" type="submit" class="btn btn-primary btn-block">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>
